  
body, html {
    margin: 0;
     height:100vh;
     width:100vw;
     margin:0;
     background-color:#E1E7ED; 
     scroll-behavior: smooth;
     font-family: 'Poppins Regular';
  }
  @font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('Poppins-Regular.woff') format('woff');
  }

/* Nav */
.scrollContainer{
    display: flex;
    margin-top:19vh;
    justify-content: center;
}
.scrolldown{
    align-self: flex-end;
}
 .fa-chevron-circle-down{
     color:#E1E7ED;
     font-size: 50px;
 }

 @media only screen and (max-height: 960px){	
    .scrollContainer{	
        margin-top: 5vh; 	
    }
}

  /* Header */
#home{
    height: 100%;
    width:100%;
    color:darkslategray; 
    background: url("./drilldown.jpg") no-repeat center fixed;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    display: flex;
    margin:0 auto;
}
.containerName{
    height:50%;
    width:90%;
    display:grid;
    margin: auto;
}
.name{
    font-size: max(6vw, 55px); 
}
.job{
    font-size: max(3vw, 25px);
    margin-top: -1em;
}
@media only screen and (max-width: 960px){	
    #home{	
        background-attachment:scroll;	
    }
}

/* About */
#about{
    background-color: #2B2B2B;
}
.aboutText{
    color:white;
    margin-bottom: 5em;
}
.containerAbout{
    display: flex;
    flex-wrap:wrap;
    width:80%;
    margin:auto; 
    justify-content: center;
}
.col{
    flex:1;
    display: flex;
    justify-content: center;
}
.col2{
    flex:1;
    min-width: 275px;
}
.picsize{
    width:300px;
    height:auto;
    border: #DCB373 solid 0.2em;
    border-radius: 3%;
    margin-top: 3em;  
    margin-left: auto; 
    margin-right:auto;
}
.aboutH1{
    font-size: 3em;
    text-decoration: underline #DCB373;
    text-align: center;
}
.aboutP{
    margin-top: -1.5em;
    font-size: 1rem;
    text-align: left;
}

/* Skills */
#skills{
    background-color: #A2BFBA;
    width: 80%;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:-1.5em;
    padding-top: 1em;
}
.containerSkills{
    display: flex;  
    color: black;
}
.skillsH1{
    margin:auto;
    font-size: 2em;
    text-align: center;
   
}
.row{
    display: flex;
}
.icons{
    font-size:3em;
    color:#012346;
    text-align: center;
}

/* Projects */
#projects{
    color: #025685;
}
.containerProjects{
    display:flex;
    flex-wrap: wrap;
    margin-top: -2em;
    margin-bottom: 2em;
}
.colP{
    margin-top: -1.5em;
    flex:1;
    padding-top: 2em;
    display: flex;
}
.card{
    background-color: white;
    height:400px;
    width:325px;
    margin:auto;
    border: lightslategray 2px solid;
    box-shadow: 2.5px 5px lightslategray;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card > div{
    flex:1;
    margin:auto;
}

.card > div > h2{
    text-align: center;
}

.card > div > a > button{
    background-color: #025685;
    color:white;
    border-radius: 20px;
    font-size: 16px;
}

.projectpic{
    width:250px;
    height:auto;
    border: #B75562 solid 0.1em;
    border-radius: 3%;
    margin-top: 2em;  
    margin-left: auto;
    margin-right: auto;
    border: #DCB373 solid 0.2em;
}

p{
    text-align: left;
    margin-left:1em;
    margin-right: 1em;
}
/* Contact */
#contact{
    background: lightslategray;
    display: flex;
}
.contactH1{
    color: white;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: -0.1em;
    text-decoration: underline #DCB373;
}
.containercontact{
    height: 100%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 2em;
}
a{
    text-decoration: none;
    color: #012346;
}