  
body, html {
    margin: 0;
     height:100vh;
     width:100vw;
     margin:0;
     background-color:#E1E7ED; 
     scroll-behavior: smooth;
     font-family: 'Noto Sans JP', sans-serif;
  }

/* Nav */
.scrollContainer{
    display: flex;
    margin-top:19vh;
    justify-content: center;
}
.scrolldown{
    align-self: flex-end;
}
 .fa-chevron-circle-down{
     color:#E1E7ED;
     font-size: 50px;
 }

  /* Header */
#home{
    height: 100%;
    width:100%;
    color:darkslategray; 
    background: url("./images/drilldown.jpg") no-repeat center fixed;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    display: flex;
    margin:0 auto;
}
.containerName{
    height:50%;
    width:75%;
    display:grid;
    margin: auto;
    color:white;
    font-weight: 700;
}
.name{
    font-size: max(7vw, 55px); 
}
.job{
    font-size: max(3vw, 25px);
    margin-top: -1em;
}


/* About */
#about{
    background-color: #2B2B2B;
}
.aboutText{
    color:white;
    margin-bottom: 5em;
}
.containerAbout{
    display: flex;
    flex-wrap:wrap;
    width: 75%;
    margin:auto; 
    justify-content: center;
}
.col{
    flex:1;
    display: flex;
    justify-content: center;
}
.col > div{
    margin:auto;
}
.col2{
    flex:1;
    min-width: 275px;
}
.picsize{
    width:300px;
    height:auto;
    border: #DCB373 solid 0.2em;
    border-radius: 2px;
    margin-left: auto; 
    margin-right:auto;
}
.aboutH1{
    font-size: 3em;
    text-decoration: underline #DCB373;
    text-align: center;
}
.aboutP{
    margin-top: -1.5em;
    font-size: 1rem;
    text-align: left;
}

/* Skills */
#skills{
    background-color: #A2BFBA;
    width: 80%;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:-1.5em;
    padding-top: 1em;
}
.containerSkills{
    display: flex;  
    color: black;
}
.skillsH1{
    margin:auto;
    font-size: 2em;
    text-align: center;
}
.row{
    display: flex;
}
.icons{
    font-size:3em;
    color:#012346;
    text-align: center;
}

/* Projects */
#projects{
    color: #025685;
}
.containerProjects{
    display:flex;
    flex-wrap: wrap;
    margin-top: -1em;
    margin-bottom: 2em;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-bottom:20px;
    background-color: white;
    height:400px;
    min-height:400px;
    max-width:325px;
    border: lightslategray 2px solid;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 1px;
}
.card > div{
    flex:1;
    margin:auto;
}

.card > div  h2{
    text-align: center;
    margin: auto;
    margin-top:10px;
    margin-bottom: -5px;
}

.card > div > a > button{
    background-color: #025685;
    border:none;
    color:white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.projectpic{
    position: relative;
    width:250px;
    height:auto;
    box-shadow: 0 10px 6px -6px #777;
    margin-left: auto;
    margin-right:auto;
    padding-top: 2em;  
}

.projectInfo{
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.8em;
}
/* Contact */
#contact{
    background: lightslategray;
    display: flex;
}
.contactH1{
    color: white;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: -0.1em;
    text-decoration: underline #DCB373;
}
.containercontact{
    height: 100%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 2em;
}
a{
    text-decoration: none;
    color: #012346;
}

@media only screen and (max-width: 960px){	
    #home{	
        background-attachment:scroll;	
    }
    .scrollContainer{	
        margin-top: 6vh; 	
    }
    .picsize{
        margin-top:2em;
    }
    .skillsH1{
        margin:auto;
        font-size: 1.5em;
        text-align: center;
    }
}